<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read</title>
</head>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        var formObj = $("#board");

        console.log(formObj)

        $("#btnModify").on("click", function() {
            var boardNo = $("#boardNo");
            var boardNoVal = boardNo.value();
            self.location = "modify?boardNo=" + boardNoVal;
        });

        $("#btnRemove").on("click", function() {
            formObj.attr("action", "remove");
            formObj.submit();
        });

        $("#btnList").on("click", function() {
            self.location = "list";
        })
    })
</script>

<body>
    <h1>Read</h1>
</body>
</html>